{
    "openapi": "3.1.0",
    "info": {
        "title": "LinkSkool API",
        "version": "1.0.0",
        "description": "Auto-generated API documentation with parameter detection (path + query)."
    },
    "servers": [
        {
            "url": "https://linkskool.net/api/v3/",
            "description": "Base server"
        }
    ],
    "tags": [
        {
            "name": "public",
            "description": "Public module"
        }
    ],
    "paths": {
        "/public/cbt/billing/verify": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Verify",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\BillingController::verify",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/billing/initiate": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Initiate",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\BillingController::initiate",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/billing/{reference}/status": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "PaymentStatus",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\BillingController::paymentStatus",
                "parameters": [
                    {
                        "name": "reference",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'reference'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/programs": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetPrograms",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramQueryController::getPrograms",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/programs/{slug}/courses": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetProgramCourseCohorts",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramQueryController::getProgramCourseCohorts",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'slug'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/programs/cohorts/{slug}": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetCohortDetails",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramQueryController::getCohortDetails",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'slug'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/movies/all": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetAllMovies",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\MovieController::getAllMovies",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/movies/category/{cat}": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetByCategory",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\MovieController::getByCategory",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'cat'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/movies/genres/{id:\\d+}": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetByGenre",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\MovieController::getByGenre",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/movies/genres": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetAllGenres",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\MovieController::getAllGenres",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/movies/shorts": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetAllShorts",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\MovieController::getAllShorts",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/cbt/study/topics": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "StoreTopic",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\StudyTopicController::storeTopic",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetAllTopics",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\StudyTopicController::getAllTopics",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/study/topics/{id:\\d+}": {
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateTopic",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\StudyTopicController::updateTopic",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            }
        },
        "/public/cbt/study/courses/{course_id:\\d+}/topics": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetTopicsByCourseId",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\StudyTopicController::getTopicsByCourseId",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'course_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/users": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "StoreUser",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\UserController::storeUser",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetUsers",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\UserController::getUsers",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            }
        },
        "/public/users/login": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Login",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\UserController::login",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/users/{id:\\d+}": {
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateUser",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\UserController::updateUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "public"
                ],
                "summary": "DeleteUser",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\UserController::deleteUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            }
        },
        "/public/exam-types": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "StoreExamType",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExamTypeController::storeExamType",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetExamTypesWithCourses",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExamTypeController::getExamTypesWithCourses",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/exam-types/{id:\\d+}": {
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateExamType",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExamTypeController::updateExamType",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetExamTypeById",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExamTypeController::getExamTypeById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "public"
                ],
                "summary": "DeleteExamType",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExamTypeController::deleteExamType",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            }
        },
        "/public/exam-types/active": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetActiveExamTypesWithCourses",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExamTypeController::getActiveExamTypesWithCourses",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learning/profiles": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "CreateProfile",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramProfileController::createProfile",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetProfilesByUserId",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramProfileController::getProfilesByUserId",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/profiles/{id}": {
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateProfile",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramProfileController::updateProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "public"
                ],
                "summary": "DeleteProfile",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramProfileController::deleteProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/dashboard": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetDashboardData",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ContentDashboardController::getDashboardData",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            }
        },
        "/public/activity-logs": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetActivityLogs",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ContentDashboardController::getActivityLogs",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            }
        },
        "/public/audit-logs/user/{userId:\\d+}": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetLogsByUserId",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\AuditLogController::getLogsByUserId",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'userId'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            }
        },
        "/public/cbt/gamify/leaderboard": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "StoreLeaderboardData",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CbtGamifyController::storeLeaderboardData",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetFullLeaderboard",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CbtGamifyController::getFullLeaderboard",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/gamify/leaderboard/summary": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetLeaderboardSummary",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CbtGamifyController::getLeaderboardSummary",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learn/courses": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Create",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LearningCourseController::create",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetCourses",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LearningCourseController::getCourses",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/courses/{id}": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Update",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LearningCourseController::update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "public"
                ],
                "summary": "DeleteCourse",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LearningCourseController::deleteCourse",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/courses/program/{id}": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetCoursesByProgramId",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LearningCourseController::getCoursesByProgramId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/cbt/study/exam-types/{exam_type_id:\\d+}/courses/{course_id:\\d+}/topics": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetStudyTopics",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\StudyContentController::getStudyTopics",
                "parameters": [
                    {
                        "name": "exam_type_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'exam_type_id'"
                    },
                    {
                        "name": "course_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'course_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/study/topics/{topic_id:\\d+}/content": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetStudyContent",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\StudyContentController::getStudyContent",
                "parameters": [
                    {
                        "name": "topic_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'topic_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/{cohort_id}/enrollments": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "EnrollUser",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CourseCohortEnrollmentController::enrollUser",
                "parameters": [
                    {
                        "name": "cohort_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'cohort_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/{cohort_id}/enrollments/is-enrolled": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "IsUserEnrolled",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CourseCohortEnrollmentController::isUserEnrolled",
                "parameters": [
                    {
                        "name": "cohort_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'cohort_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/{cohort_id}/enrollments/status": {
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateStatus",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CourseCohortEnrollmentController::updateStatus",
                "parameters": [
                    {
                        "name": "cohort_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'cohort_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/{cohort_id}/enrollments/payment": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "VerifyPayment",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CourseCohortEnrollmentController::verifyPayment",
                "parameters": [
                    {
                        "name": "cohort_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'cohort_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/{cohort_id}/enrollments/payment-status": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetPaymentStatus",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CourseCohortEnrollmentController::getPaymentStatus",
                "parameters": [
                    {
                        "name": "cohort_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'cohort_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/{cohort_id}/enrollments/lessons-taken": {
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateLessonsTaken",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CourseCohortEnrollmentController::updateLessonsTaken",
                "parameters": [
                    {
                        "name": "cohort_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'cohort_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/enrollments/checkout": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Checkout",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CourseCohortEnrollmentController::checkout",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/enrollments/checkout/offline": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "OfflineCheckout",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CourseCohortEnrollmentController::offlineCheckout",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/enrollments/checkout/{reference}/status": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "CheckPaymentStatus",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CourseCohortEnrollmentController::checkPaymentStatus",
                "parameters": [
                    {
                        "name": "reference",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'reference'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/enrollments/reserve": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Reserve",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CourseCohortEnrollmentController::reserve",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/enrollments/free": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "FreeEnroll",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CourseCohortEnrollmentController::freeEnroll",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/challenges": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "StoreChallenge",
                "description": "storeChallenge",
                "operationId": "V3\\App\\Controllers\\Explore\\ChallengeController::storeChallenge",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetChallenges",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ChallengeController::getChallenges",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/challenges/{challenge_id:\\d+}": {
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateChallenge",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ChallengeController::updateChallenge",
                "parameters": [
                    {
                        "name": "challenge_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'challenge_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "public"
                ],
                "summary": "DeleteChallenge",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ChallengeController::deleteChallenge",
                "parameters": [
                    {
                        "name": "challenge_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'challenge_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/challenges/status/{challenge_id:\\d+}": {
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateChallengeStatus",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ChallengeController::updateChallengeStatus",
                "parameters": [
                    {
                        "name": "challenge_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'challenge_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/challenges/questions": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetChallengeQuestions",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ChallengeController::getChallengeQuestions",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/notification-campaigns/options": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetOptions",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\NotificationCampaignController::getOptions",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            }
        },
        "/public/notification-campaigns/send": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Send",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\NotificationCampaignController::send",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            }
        },
        "/public/games": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "Index",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\GameController::index",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/license/activate/desktop": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "ActivateDesktop",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LicenseController::activateDesktop",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/license/activate/mobile": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "ActivateMobile",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LicenseController::activateMobile",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/license/status/desktop": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "DesktopStatus",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LicenseController::desktopStatus",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/license/status/mobile": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "MobileStatus",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LicenseController::mobileStatus",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/license/plans/desktop": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "DesktopPlans",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LicenseController::desktopPlans",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/license/plans/mobile": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "MobilePlans",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LicenseController::mobilePlans",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/license/trial/start": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "StartTrial",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LicenseController::startTrial",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/lessons/{lesson_id}/attendance": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "TakeLessonAttendance",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LessonAttendanceController::takeLessonAttendance",
                "parameters": [
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'lesson_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetLessonAttendance",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LessonAttendanceController::getLessonAttendance",
                "parameters": [
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'lesson_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/books": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "Index",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\BookController::index",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learn/lessons/{lesson_id}/submissions": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetLessonSubmissions",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\GradeLessonAssignmentController::getLessonSubmissions",
                "parameters": [
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'lesson_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/lessons/submissions/auto-grade": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "AutoGradeSubmissions",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\GradeLessonAssignmentController::autoGradeSubmissions",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/lessons/submissions/grade": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "GradeSubmission",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\GradeLessonAssignmentController::gradeSubmission",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/lessons/submissions/notify": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "NotifyStudent",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\GradeLessonAssignmentController::notifyStudent",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/cbt/study/exam-types/{exam_type_id:\\d+}/topics": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "LinkTopicsToExamType",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\StudyExamTypeTopicController::linkTopicsToExamType",
                "parameters": [
                    {
                        "name": "exam_type_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'exam_type_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    },
                    {
                        "roleAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetTopicsByExamType",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\StudyExamTypeTopicController::getTopicsByExamType",
                "parameters": [
                    {
                        "name": "exam_type_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'exam_type_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learning/lessons/{lesson_id}/assignments": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "SubmitProject",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CohortTasksSubmissionController::submitProject",
                "parameters": [
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'lesson_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learn/programs/courses/cohorts": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Create",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramCourseCohortController::create",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/programs/courses/cohorts/{id}": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Update",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramCourseCohortController::update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "public"
                ],
                "summary": "Delete",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramCourseCohortController::delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/programs/courses/cohorts/{id}/status": {
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateStatus",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramCourseCohortController::updateStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/programs/{program_id}/courses/{course_id}/cohorts": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetAllCohortsByCourseId",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramCourseCohortController::getAllCohortsByCourseId",
                "parameters": [
                    {
                        "name": "program_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'program_id'"
                    },
                    {
                        "name": "course_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'course_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/programs/{program_id}/cohorts": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetProgramCohorts",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramCourseCohortController::getProgramCohorts",
                "parameters": [
                    {
                        "name": "program_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'program_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/levels": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "AddLevel",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LevelController::addLevel",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetLevels",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LevelController::getLevels",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/levels/{id}": {
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateLevel",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LevelController::updateLevel",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "public"
                ],
                "summary": "DeleteLevel",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\LevelController::deleteLevel",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/programs/lessons/{lesson_id}/quizzes": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Create",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CohortLessonQuizController::create",
                "parameters": [
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'lesson_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetByQuizLessonId",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CohortLessonQuizController::getByQuizLessonId",
                "parameters": [
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'lesson_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/learn/programs/lessons/{lesson_id}/quizzes/{question_id}": {
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "Update",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CohortLessonQuizController::update",
                "parameters": [
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'lesson_id'"
                    },
                    {
                        "name": "question_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'question_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/programs/lessons/quizzes/{question_id}": {
            "delete": {
                "tags": [
                    "public"
                ],
                "summary": "Delete",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CohortLessonQuizController::delete",
                "parameters": [
                    {
                        "name": "question_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'question_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/programs/{program_id}/enrollment-analysis/profiles": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetProgramProfilesAnalysis",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramEnrollmentAnalysisController::getProgramProfilesAnalysis",
                "parameters": [
                    {
                        "name": "program_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'program_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learn/programs/{program_id}/enrollment-analysis/profiles/{profile_id}/enrollments": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetProfileEnrollments",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ProgramEnrollmentAnalysisController::getProfileEnrollments",
                "parameters": [
                    {
                        "name": "program_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'program_id'"
                    },
                    {
                        "name": "profile_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'profile_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/learning/cohorts/{cohort_id}/lessons/{lesson_id}/progress": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateProgress",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CohortLessonProgressController::updateProgress",
                "parameters": [
                    {
                        "name": "cohort_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'cohort_id'"
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'lesson_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/cbt/exams": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GET /public/cbt/exams\n     * Returns all exam types with their courses and available years.\n     */",
                "description": "GET /public/cbt/exams\nReturns all exam types with their courses and available years.",
                "operationId": "V3\\App\\Controllers\\Explore\\CbtController::getAllExams",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/exams/{examTypeId:\\d+}/courses": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GET /public/cbt/exams/{examTypeId}/courses\n     * Returns all courses for a given exam type.\n     */",
                "description": "GET /public/cbt/exams/{examTypeId}/courses\nReturns all courses for a given exam type.",
                "operationId": "V3\\App\\Controllers\\Explore\\CbtController::getCoursesByExamType",
                "parameters": [
                    {
                        "name": "examTypeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'examTypeId'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/exams-courses": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetExamsWithCourses",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CbtController::getExamsWithCourses",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/exams/{exam_id:\\d+}/questions": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetQuestions",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CbtController::getQuestions",
                "parameters": [
                    {
                        "name": "exam_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'exam_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/cbt/exams/questions/by-topic": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetQuestionsByTopicId",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\CbtController::getQuestionsByTopicId",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    }
                ]
            }
        },
        "/public/export-questions": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "ExportQuestions",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExportQuestionsController::exportQuestions",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/questions": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "StoreQuestions",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExamController::storeQuestions",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "public"
                ],
                "summary": "UpdateQuestions",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExamController::updateQuestions",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/exams": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetExams",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExamController::getExams",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "public"
                ],
                "summary": "DeleteExam",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExamController::deleteExam",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/exams/{exam_id:\\d+}/questions": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "GetQuestions",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\ExamController::getQuestions",
                "parameters": [
                    {
                        "name": "exam_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'exam_id'"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "apiKeyAuth": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/cbt/exams/{exam_type}/download": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "DownloadExamType",
                "description": "",
                "operationId": "V3\\App\\Controllers\\Explore\\DownloadExamsController::downloadExamType",
                "parameters": [
                    {
                        "name": "exam_type",
[...]
